@page "/category-dim/{selected_cat_dim}"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using MovieTableEdit.Models
@using MovieTableEdit.Data
@inject MovieTableEdit.Data.MovieTableEditContext DbContext
@* @inject IDbContextFactory<MovieTableEdit.Data.MovieTableEditContext> DbFactory *@
@implements IAsyncDisposable
@inject NavigationManager NavigationManager

<PageTitle>Dimension Table</PageTitle>


@if(selected_cat_dim=="product-type")
{
    <QuickGrid Class="table" Items="product_type_data">
        <PropertyColumn Property="genre => genre.ProductTypeId" />
        <TemplateColumn Title="Genre">
            <div>
                <label>
                    <input type="string" @bind="@context.ProductType" />
                </label>
            </div>
        </TemplateColumn>
    </QuickGrid>
}

@if(selected_cat_dim=="product-genre")
{
    <QuickGrid Class="table" Items="genre_data">
        <PropertyColumn Property="genre => genre.GenreId" />
        <TemplateColumn Title="Genre">
            <div>
                <label>
                    <input type="string" @bind="@context.Genre" />
                </label>
            </div>
        </TemplateColumn>
    </QuickGrid>
}

@if(selected_cat_dim=="rating-de")
{
    <QuickGrid Class="table" Items="rating_de_data">
        <PropertyColumn Property="genre => genre.RatingDEId" />
        <TemplateColumn Title="German Rating">
            <div>
                <label>
                    <input type="string" @bind="@context.RatingDE" />
                </label>
            </div>
        </TemplateColumn>
    </QuickGrid>
}

@if(selected_cat_dim=="rating-fr")
{
    <QuickGrid Class="table" Items="rating_fr_data">
        <PropertyColumn Property="genre => genre.RatingFRId" />
        <TemplateColumn Title="Genre">
            <div>
                <label>
                    <input type="string" @bind="@context.RatingFR" />
                </label>
            </div>
        </TemplateColumn>
    </QuickGrid>
}

<button @onclick="SaveChanges">Save Changes</button>

@code {

    [Parameter]
    [SupplyParameterFromQuery(Name = "selected_cat_dim")]
    public required string selected_cat_dim { get; set; }

    // TODO: what does this line do?
    private MovieTableEditContext db_context = default!;
    
    private IQueryable<MockProductTypeDim>? product_type_data;
    private IQueryable<MockGenreDim>? genre_data;
    private IQueryable<MockRatingDEDim>? rating_de_data;
    private IQueryable<MockRatingFRDim>? rating_fr_data;

    protected override void OnInitialized() 
    {           
        db_context = DbContext;
        if (selected_cat_dim == "product-type")
        {   
            product_type_data = db_context.DbSetMockProductTypeDim;
        }
        else if (selected_cat_dim == "product-genre")
        {
            genre_data = db_context.DbSetMockGenreDim;
        }
        else if (selected_cat_dim == "rating-de")
        {
            rating_de_data = db_context.DbSetMockRatingDEDim;
        }
        else if (selected_cat_dim == "rating-fr")
        {
            rating_fr_data = db_context.DbSetMockRatingFRDim;
        }
    }

    // TODO: what does this line do?
    public async ValueTask DisposeAsync() => await db_context.DisposeAsync();

    // A function for debug

    private async Task SaveChanges()
    {
        await db_context.SaveChangesAsync();

        // Going back to the table selection page
        NavigationManager.NavigateTo("/");
    }

}