MovieTableEdit.sln
/.vscode
MovieTableEdit/bin
MovieTableEdit/obj
MovieTableEdit/Data/MockMovie.db*
MovieTableEdit/Data/MockMovie.db
MovieTableEdit/Migrations

ProductData/bin
ProudctData/obj

ProductDataAPI/bin
ProudctDataAPI/obj