@page "/"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore

@inject IJSRuntime JSRuntime

@if (table_edit_type_config == "dimension-table-edit")
{
    <h5>Select a dimension table to edit</h5>
    <select id="condition" @bind="@selected_cat_dim" >
        <option value="product-dim">Product</option>
        <option value="product-type">Product type</option>
        <option value="product-genre">Product genre</option>
        <option value="rating-de">German rating</option>
        <option value="rating-fr">French rating</option>
    </select>
    <br>
}



@if (table_edit_type_config == "price-table-edit")
{     
    <div>
        <h5>Select a product type</h5>
        <select id="condition" @bind="@selected_product_type">
            <option value="movie">Movie</option>
            <option value="tv">TV Show</option>
            <option value="anime">Anime</option>
            <option value="comic">Comic</option>
        </select>
    </div>
}

<br>
<button @onclick="@NavigateToTableEditPage" >Start Editing Table</button>

<br>
<br>
<button @onclick="@ValidateEdit" >Validate Table Edit</button>


@code {
    private bool if_show_cat_dim_filter = false;
    private bool if_show_product_filters = false;
    private bool if_show_price_table_filters = false;

    public string selected_table_type { get; set; } = "";
    @* public string selected_country { get; set; } = ""; *@
    public string selected_product_type { get; set; } = "";
    public string selected_cat_dim { get; set; } = "";

    private string table_edit_type_config;
    private string? selected_country_config = "DE";

    protected override async Task OnInitializedAsync()
    {
        var result = await ProtectedSessionStore.GetAsync<string>("table-edit-type");
        table_edit_type_config = result.Success ? result.Value : "unknown";
        Console.WriteLine($"Configured table edit type: {table_edit_type_config}");

    }


    private void NavigateToTableEditPage()
    {      
        if(table_edit_type_config=="dimension-table-edit" && selected_cat_dim!="product-dim")
        {
            JSRuntime.InvokeAsync<object>("open", $"/category-dim-edit/{selected_cat_dim}", "_blank");
        }
        else if(table_edit_type_config=="dimension-table-edit" && selected_cat_dim=="product-dim")
        {   
            JSRuntime.InvokeAsync<object>("open", $"/product-dim-edit/", "_blank");
        }
        else if(table_edit_type_config == "price-table-edit")
        {   
            JSRuntime.InvokeAsync<object>("open", $"/product-price-edit/{selected_country_config}/{selected_product_type}", "_blank");
        }
    }

    private void ValidateEdit()
    {   
        if(table_edit_type_config == "dimension-table-edit")
        {
            JSRuntime.InvokeAsync<object>("open", $"/validate-dim", "_blank");
        }
        else if(table_edit_type_config == "price-table-edit")
        {
            JSRuntime.InvokeAsync<object>("open", $"/validate-price", "_blank");
        }
    }

}