@page "/Movies/edit"
@using Microsoft.EntityFrameworkCore
@using MovieTableEdit.Models
@inject IDbContextFactory<MovieTableEdit.Data.MovieTableEditContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Movie</h2>
<hr />
@if (MockMovieFact is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="MockMovieFact" OnValidSubmit="UpdateMovie" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="MockMovieFact.Id" value="@MockMovieFact.Id" />
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <InputNumber id="title" @bind-Value="MockMovieFact.MovieId" class="form-control" />
                    <ValidationMessage For="() => MockMovieFact.MovieId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="releasedate" class="form-label">Release Date:</label>
                    <InputDate id="releasedate" @bind-Value="MockMovieFact.Date" class="form-control" />
                    <ValidationMessage For="() => MockMovieFact.Date" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price:</label>
                    <InputNumber id="price" @bind-Value="MockMovieFact.Price" class="form-control" />
                    <ValidationMessage For="() => MockMovieFact.Price" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/movies">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private MockMovieFact? MockMovieFact { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        MockMovieFact ??= await context.MockMovieFact.FirstOrDefaultAsync(m => m.Id == Id);

        if (MockMovieFact is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task UpdateMovie()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(MockMovieFact!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!MovieExists(MockMovieFact!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/movies");
    }

    private bool MovieExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.MockMovieFact.Any(e => e.Id == id);
    }
}